<p>Hello <%= @resource.email %>!</p>

<p>ALguien solicito un cambio de contraseña, puedes hacerlo con el siguiente link</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no lo colicitaste, por favor ignora este mail</p>
<p>Tu password no cambiara a menos que entros al link anterior</p>
